.LeftButton {
    border-radius: 5px 0px 0px 5px;
    background-color:#E9ECEF;
    border-style: solid;
    border-width:1px;
    border-color:#CED4DA;
    padding:5px
  }
.RightButton {
    border-radius: 0px 5px 5px 0px;
    background-color:#E9ECEF;
    border-style: solid;
    border-width:1px;
    border-color:#CED4DA;
    padding:5px
}
.CenterDiv {
    border-style: solid;
    border-width:1px;
    border-color:#CED4DA;
    width: 40%;
    text-align: center;
    padding:5px
}

.RightButton:hover { 
    background-color: rgb(93, 93, 93);
    color: white;
    cursor: pointer;
  }
.LeftButton:hover { 
    background-color: rgb(93, 93, 93);
    color: white;
    cursor: pointer;
  }

  .TitleRoundedLeft {
      border-radius: 5px 0px 0px 0px;
      background-color:#E9ECEF;
      border-style: solid;
      border-width:1px;
      border-color:#CED4DA;
      text-align: center;
  }

  .TitleRoundedRight {
    border-radius: 0px 5px 0px 0px;
    background-color:#E9ECEF;
    border-style: solid;
    border-width:1px;
    border-color:#CED4DA;
    text-align: center;
}

.TitleRoundedCenter {
  background-color:#E9ECEF;
  border-style: solid;
  border-width:1px;
  border-color:#CED4DA;
  text-align: center
}

.TitleColumn {
  background-color:#E9ECEF;
  border-style: solid;
  border-width:1px;
  border-color:#CED4DA;
  text-align: center;
}

.ScheduleTime {
  font-variant: small-caps
}

.dealerOptions-enter {
  max-height: 0px;
}
.dealerOptions-enter-active {
  max-height: 150px;
  transition:max-height 500ms ease-in;
}
.dealerOptions-exit {
  max-height: 0px;
}
.dealerOptions-exit-active {
  transition:max-height 5000ms ease-out;
}

.borderBottom {
  border-bottom: 1px solid black
}

.roadmapCol {
  border: 1px solid black
}

.roadmapTitle {
  border: 1px solid black;
  background-color: lightgray;
  text-align: center 
}

.roadmapTitle.leftSide {
  border-radius: 25px 0 0 0
}

.roadmapTitle.rightSide {
  border-radius: 0 25px 0 0
}

.roadmapTitle.single {
  border-radius: 25px 25px 0 0
}

